.signin-auth-container {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background:  #f7f8fa;
  }
  
  .signin-auth-container h2 {
    font-size: 30px;
    font-weight: bold;
    background-color: #355a73;
    color: white; 
    padding: 15px; 
    text-align: center; 
    margin-top: 0;
    margin-bottom: 30px;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #868282;
    border-radius: 5px;
  }
  

  .centered-button{
    align-items: center;
  }

  .signin-auth-button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #ff9900;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .auth-button:hover {
    background: #e68a00;
  }
  
  .signin-auth-container p {
    text-align: center;
    margin-top: 10px;
  }
  
  .signin-auth-container a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  