.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(5px);
    overflow: hidden;
  }
  
  .modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
    width: 90%;
    max-width: 400px;
    color: #333333; 
  }
  
  .modal-content .modal-heading {
    margin: 0 0 15px;
    font-size: 1.5em; 
    color: #2c3e50;
  }
  
  .modal-content p {
    margin: 10px 0;
    font-size: 1em;
    line-height: 1.5;
  }
  
  .modal-buttons {
    max-width: 100%;
    max-height: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 25px; 
  }
  
  .modal-buttons .button1 {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .modal-buttons .button1:hover {
    background-color: #2980b9;
    transform: scale(1.02);
  }
  
  .modal-buttons .button1:active {
    background-color: #1f6391;
  }
  
  .modal-buttons .button1:focus {
    outline: 2px solid #2980b9;
  }
  
  .modal-buttons .button2 {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .modal-buttons .button2:hover {
    background-color: #c0392b;
    transform: scale(1.02);
  }
  
  .modal-buttons .button2:active {
    background-color: #992d22;
 
  }
  
  .modal-buttons .button2:focus {
    outline: 2px solid #c0392b;
  }
  
