.html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  font-family:  "Work Sans", serif;
}

body, html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}


p{
  margin-bottom: 0 !important;
}

:root {
  --Neutral-Black: #333333;
  --Neutral-Logo-Blue: #2776bb;
  --Accent-Color: #f57a00;
  --Neutral-D_Grey: #4d4d4d;
  --Neutral-Grey: #717171;
  --Neutral-L_Grey: #89939e;
  --Neutral-Grey-blue: #abbed1;
  --Neutral-Silver: #f5f7fa;
  --Neutral-White: #ffffff;
  --Primary: #caedf4;
  --Primary-Active: #d03070;
  --Secondary: #263238;
  --Info: #2194f3;
  --Action-Warning: #fbc02d;
  --Action-Error: #e53835;
  --Action-Success: #2e7d31;
  --Shades-S2: #b96593;
  --Tint-T5: #f3bbff;
}

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.button1{
  background-color: var(--Neutral-Black);
  color: var(--Neutral-White);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  border-radius: 15px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.button2{
  background-color: var(--Neutral-Logo-Blue);
  color: var(--Neutral-White);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9.745px 22.274px;
  border-radius: 6px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.button3{
  background-color: var(--Accent-Color);
  color: var(--Neutral-White);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9.745px 22.274px;
  border-radius: 6px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.button3:hover{
  background-color: #f99736;
}

.button1:hover{
  background-color:#33424a;
}

.button2:hover{
  background-color:#4a9ae0;
}

.center{
  text-align: center;
  font-weight: 700;
  font-size:28pt;
}

.map-container {
  position: relative;
  height: 60vh;
  /* Ensure the height is set correctly */
  z-index: 1;
  width: 90%;
  /* Adjust as needed */
  margin: 2vh ;
}