.html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  font-family:  "PT Sans", sans-serif;
  overflow-x: hidden;
}

.body{
  overflow-x: hidden;
}

:root {
  --Neutral-Black: #333333;
  --Accent-Color: #F9D71C;
  --Neutral-D_Grey: #4d4d4d;
  --Neutral-Grey: #717171;
  --Neutral-L_Grey: #89939e;
  --Neutral-Grey-blue: #abbed1;
  --Neutral-Silver: #f5f7fa;
  --Neutral-White: #ffffff;
  --Primary: #fc3887;
  --Primary-Active: #d03070;
  --Secondary: #263238;
  --Info: #2194f3;
  --Action-Warning: #fbc02d;
  --Action-Error: #e53835;
  --Action-Success: #2e7d31;
  --Shades-S2: #b96593;
  --Tint-T5: #f3bbff;
}

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.button1{
  background-color: var(--Neutral-Black);
  color: var(--Neutral-White);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9.745px 22.274px;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.button1:hover{
  background-color:#33424a;
}

.center{
  text-align: center;
  font-weight: 700;
  font-size:28pt;
}